<div>
    <h3>WorkExperience</h3>
    <div>
        {{workExperiences[0].company}}, {{workExperiences[0].job}}, {{workExperiences[0].time}}
    <br>
    <ul>
        <li>{{workExperiences[0].vales[0]}}</li>
        <li>{{workExperiences[0].vales[1]}}</li>
    </ul>
    </div>
    <div>
        {{workExperiences[1].company}}, {{workExperiences[1].job}}, {{workExperiences[1].time}}
    <br>
    <ul>
        <li>{{workExperiences[1].vales[0]}}</li>
        <li>{{workExperiences[1].vales[1]}}</li>
    </ul>
    </div>
</div>
